@using Microsoft.AspNetCore.Identity;
@using flyplaza.Areas.Identity.Data;
@using flyplaza.Domain;
@{
    ViewData["Title"] = "Мои бронирования";
}
@model ICollection<flyplaza.Domain.AllTableReservation>
@inject UserManager<flyplazaUser> UserManager
<link href="~/css/MyReservationscshtml.css" rel="stylesheet" />

<h2>Мои бронирования</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Номер столика</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">E-mail</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">Бронирование</th>
            <th scope="col">Заметка</th>
            <th scope="col">Удалить</th>
        </tr>
    </thead>
    <tbody>
            
    @foreach (var table in Model)
        {
            if (UserManager.GetUserAsync(User).Result.FirstName != table.FirstName && UserManager.GetUserAsync(User).Result.LastName != table.LastName)
            {
                continue;
            }
            <tr>
                <th scope="row">@table.TableNumber</th>
                <td>@table.FirstName</td>
                <td>@table.LastName</td>
                <td>@table.Email</td>
                <td>@table.PhoneNumber</td>
                <td>@table.Reservation</td>
                <td>@table.Note</td>
                <td>
                    <form method="post" asp-controller="Home" asp-action="DeleteReservation">
                        <input type="hidden" value="@table.Id" name="id" />
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr> 
        }
    </tbody>
</table>

